server {
    listen 80;
    server_name example.com;  # substitua pelo seu nome de domínio

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /app;
    }

    location / {
        include proxy_params;
        proxy_pass http://web:8000;  # nome do serviço Docker do Gunicorn
    }
}
